<div class="row">
  <div class="col-12 text-right">
    <button type="button" class="btn btn-primary" [routerLink]="['/productos/nuevo']">Crear Nuevo Producto</button>
  </div>
</div>
<table class="table table-striped mt-3">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Precio Venta</th>
    <th scope="col">disponible</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let producto of productos">
    <th>{{producto.productId}}</th>
    <td>{{producto.name}}</td>
    <td>Q.{{producto.price}}</td>
    <td>{{producto.stock}}</td>
    <td><button type="button" class="btn btn-danger" (click)="eliminar(producto.productId)">Eliminar</button></td>
  </tr>
  </tbody>
</table>
