<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
  <div class="container-fluid">
    <div class="card mt-4">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
