<div class="card-header">
  <h5>Crear Nuevo Producto</h5>
</div>
<div class="container mt-4">
  <form [formGroup]="formProducto" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" class="form-control" id="inputEmail4" formControlName="name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Precio</label>
        <input type="text" class="form-control" id="inputPassword4" formControlName="price" >
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">disponible</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Cantidad de producto" formControlName="stock">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
