<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center  mb-4">
            <p>Ingresar Datos</p>
          </div>
          <form  [formGroup]="loginForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control"
                       formControlName="username"
                       placeholder="Ingresar nombre de usuario"
                       type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control"
                       formControlName="password"
                       placeholder="Ingresar Contraseña"
                       type="password">
              </div>
            </div>
            <div class="text-center">
              <button type="button"
                      class="btn btn-primary my-4"
                      [disabled]="submitted || loginForm.invalid"
                      (click)="sigIn()">
                Iniciar Sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
